<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.bootcss.com/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/extjs/6.0.0/ext-all.js"></script>

    <script th:src="@{/js/app-dev.js}" charset="utf-8"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <!--从下往上执行  可理解为栈堆模式-->
        <!--<div id="studentsDetailsRenderDiv" style="width:100%"> <div>-->
        <!--<div id="helloWorldPanel" style="width:100%"> <div>-->
        <div id="configurable-params-body" style="width:100%"> <div>
</body>
</html>